<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <!-- Configuration Properties -->
    <Properties>
        <Property name="basepath">./logs</Property>
       
    </Properties>

    <!-- Appenders -->
    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${log.pattern}"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFile"
                     fileName="${basepath}/automation.log"
                     filePattern="${basepath}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${log.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

    </Appenders>

    <!-- Loggers -->
    <Loggers>

        <!-- Root Logger -->
        <Root level="debug">
            <!--<AppenderRef ref="RollingFile"/>-->
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>
